{% from 'macros/macros.html' import render_field %}
{% extends "layout.html" %}

{% set title = "Reset your password" %}
{% set description = "We can help you reset your password and security info. First, enter your email and follow the instructions we will send to you!" %}
{% set keywords = "reset password" %} 

{% block h1 %}
<h1>Reset your password</h1>
<p>We can help you reset your password and security info.
First, enter your email and follow the instructions we will send to you!</p>
{% endblock h1 %}

{% block content %}

<div id="form" class="rel centered-content">
    <form method="POST" action="{{url_for('users.reset_password')}}">
        <fieldset class="notice">
        {{ form.hidden_tag() }}
        {{ render_field(form.email,'Email', placeholder="email@example.org") }}
        <button hx-indicator="#spinner" hx-swap="outerHTML" hx-post="{{ url_for('users.reset_password') }}" hx-target="#form" class="gbf p-10" id="submit" type="submit" name="submit">
            Reset Password
            <svg id="spinner" class="spinner" width="25px" height="25px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
                <g fill="var(--bg)" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8z" opacity=".2"/>
                <path d="M7.25.75A.75.75 0 018 0a8 8 0 018 8 .75.75 0 01-1.5 0A6.5 6.5 0 008 1.5a.75.75 0 01-.75-.75z"/>
                </g>
            </svg>
        </button>
        </fieldset>
    </form>
</div>

{% endblock content %}
