{% from 'macros/macros.html' import render_field %}

<p>Don't remember your password ? You can reset it <a href="{{url_for('users.reset_password')}}">here</a></p>
<div id="password_form" class="rel">
  <form hx-post="{{url_for('users.user_change_password')}}">
    {{ form.hidden_tag() }}
    {{ render_field(form.current_password,'Current Password', placeholder="Your current password") }}
    {{ render_field(form.password,'Password', placeholder="password") }}
    {{ render_field(form.confirm_password,'Confirm password', placeholder="Confirm password") }}
    {{ form.submit() }}
  </form>
</div>
