{% extends "layout.html" %}
{% set title = "404" %}
{% set description = "Ooops, the page you're looking for doesn't exist :/" %}
{% set keywords = "404" %} 
{% block h1 %}
<h1>Page does not exists (404)</h1>
{% endblock h1 %}
{% block content %}
<p>Please try a different location</p>
<pre class="centered-content lol">
\       What a maze!        /
 \                         /
  \    This page does     /
   ]     not exist.      [    ,'|
   ]                     [   /  |
   ]___               ___[ ,'   |
   ]  ]\             /[  [ |:   |
   ]  ] \           / [  [ |:   |
   ]  ]  ]         [  [  [ |:   |
   ]  ]  ]__     __[  [  [ |:   |
   ]  ]  ] ]\ _ /[ [  [  [ |:   |
   ]  ]  ] ] (#) [ [  [  [ :===='
   ]  ]  ]_].nHn.[_[  [  [
   ]  ]  ]  HHHHH. [  [  [
   ]  ] /   `HH("N  \ [  [
   ]__]/     HHH  "  \[__[
   ]         NNN         [
   ]         N/"         [
   ]         N H         [
  /          N            \
 /           q,            \
/                           \
</pre>
{% endblock content %}
